<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8" />
<title>已续 {{ .Life }} 秒</title>
</head>
<body style="font-family: -apple-system, &quot;Source Han Sans SC&quot;, &quot;Noto Sans CJK SC&quot;, &quot;Microsoft Yahei&quot;, sans-serif">
<h1>已续 <span id="life">{{ .Life }}</span> 秒。</h1>
<div>当前 <span id="online">{{ .Online }}</span> 人正在为长者续命。</div>
<hr />
<div style="font-family: Palatino, &quot;Palatino Linotype&quot;, &quot;STFangsong&quot;, SimFang, serif">「<span id="quote">{{ .Quote }}</span>」</div>
<script language="javascript">
setInterval(function heartbeat() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "+1s/beat", true);
    xhr.onload = function heartbeatOnload() {
        var resp = JSON.parse(xhr.responseText);
        document.title = "已续 " + resp["life"] + " 秒。";
        document.getElementById("life").innerText = resp["life"];
        document.getElementById("online").innerText = resp["online"];
    }
    xhr.send();
}, 1000);
setInterval(function heartbeat() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "+1s/quote", true);
    xhr.onload = function heartbeatOnload() {
        var resp = xhr.responseText;
        document.getElementById("quote").innerText = resp;
    }
    xhr.send();
}, 9700);
</script>
</body>
</html>
