<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8" />
<title>已续 {{ .Life }} 秒</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body style="font-family: -apple-system, &quot;Source Han Sans SC&quot;, &quot;Noto Sans CJK SC&quot;, &quot;Microsoft Yahei&quot;, sans-serif">
<h1>已续 <span id="life">{{ .Life }}</span> 秒。</h1>
<div>当前 <span id="online">{{ .Online }}</span> 人正在为长者续命。</div>
<hr />
<div style="font-family: Palatino, &quot;Palatino Linotype&quot;, &quot;STFangsong&quot;, SimFang, serif">「<span id="quote">{{ .Quote }}</span>」&emsp;&emsp;——一位长者</div>
<script language="javascript">
(function () {
    var foreground = true;
    var online = 0;
    function heartbeat() {
        if(foreground) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "+1s/beat", true);
            xhr.timeout = 3000;
            xhr.onload = function heartbeatOnload() {
                var resp = JSON.parse(xhr.responseText);
                document.title = "已续 " + resp["life"] + " 秒。";
                document.getElementById("life").innerText = resp["life"];
                online = resp["online"];
                document.getElementById("online").innerText = online;
            }
            xhr.send();
        }
    }
    function getQuote() {
        if(foreground) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "+1s/quote", true);
            xhr.timeout = 20000;
            xhr.onload = function heartbeatOnload() {
                var resp = xhr.responseText;
                document.getElementById("quote").innerText = resp;
            }
            xhr.send();
        }
    }
    addEventListener("focus", function () {
        foreground = true;
    });
    addEventListener("blur", function () {
        foreground = false;
        if(online > 0)
            online -= 1;
        document.getElementById("online").innerText = online;
    });
    setInterval(heartbeat, 1000);
    setInterval(getQuote, 9700);
    getQuote();
})();
</script>
</body>
</html>
